# <center>Introduction to Pandas</center>

![](https://pandas.pydata.org/_static/pandas_logo.png)


## Installation

Simply,
```
pip install pandas
```


## Reading data from a CSV file

You can read data from a CSV file using the ``read_csv`` function. By default, it assumes that the fields are comma-separated.

In [ ]:
# import pandas

>The `imdb.csv` dataset contains Highest Rated IMDb "Top 1000" Titles.

In [ ]:
# load imdb dataset as pandas dataframe

In [ ]:
# show first 5 rows of imdb_df

>The `bikes.csv` dataset contains information about the number of bicycles that used certain bicycle lanes in Montreal in the year 2012.

In [ ]:
# load bikes dataset as pandas dataframe

In [ ]:
# show first 3 rows of bikes_df

## Selecting columns

When you read a CSV, you get a kind of object called a DataFrame, which is made up of rows and columns. You get columns out of a DataFrame the same way you get elements out of a dictionary.

In [ ]:
# list columns of imdb_df

In [ ]:
# what are the datatypes of values in columns

In [ ]:
# list first 5 movie titles

In [ ]:
# show only movie title and genre

## Understanding columns

On the inside, the type of a column is ``pd.Series`` and pandas Series are internally numpy arrays. If you add ``.values`` to the end of any Series, you'll get its internal **numpy array**.

In [ ]:
# show the type of duration column

In [ ]:
# show duration values of movies as numpy arrays

## Applying functions to columns

Use `.apply` function to apply any function to each element of a column.

In [ ]:
# convert all the movie titles to uppercase

## Plotting a column

Use ``.plot()`` function!

In [ ]:
# plot the bikers travelling to Berri1 over the year

In [ ]:
# plot all the columns of bikes_df

## Value counts

Get count of unique values in a particular column/Series.

In [ ]:
# what are the unique genre in imdb_df?

In [ ]:
# plotting value counts of unique genres as a bar chart

In [ ]:
# plotting value counts of unique genres as a pie chart

## Index

### DATAFRAME = COLUMNS + INDEX + ND DATA

### SERIES = INDEX + 1-D DATA

**Index** or (**row labels**) is one of the fundamental data structure of pandas. It can be thought of as an **immutable array** and an **ordered set**.

> Every row is uniquely identified by its index value.

In [ ]:
# show index of bikes_df

In [ ]:
# get row for date 2012-01-01

#### To get row by integer index:

Use ``.iloc[]`` for purely integer-location based indexing for selection by position.

In [ ]:
# show 11th row of imdb_df using iloc

## Selecting rows where column has a particular value

In [ ]:
# select only those movies where genre is adventure

In [ ]:
# which genre has highest number of movies with star rating above 8 and duration more than 130 minutes?

## Adding a new column to DataFrame

In [ ]:
# add a weekday column to bikes_df

## Deleting an existing column from DataFrame

In [ ]:
# remove column 'Unnamed: 1' from bikes_df

## Deleting a row in DataFrame

In [ ]:
# remove row no. 1 from bikes_df

## Group By

Any groupby operation involves one of the following operations on the original object. They are −

- Splitting the Object

- Applying a function

- Combining the results

In many situations, we split the data into sets and we apply some functionality on each subset. In the apply functionality, we can perform the following operations −

- **Aggregation** − computing a summary statistic

- **Transformation** − perform some group-specific operation

- **Filtration** − discarding the data with some condition

In [ ]:
# group imdb_df by movie genres

In [ ]:
# get crime movies group

In [ ]:
# get sum, mean and std-dev of movie durations for each group

In [ ]:
# change duration of all movies in a particular genre to mean duration of the group

In [ ]:
# drop groups/genres that do not have average movie duration greater than 120.

In [ ]:
# group weekday wise bikers count

In [ ]:
# get weekday wise biker count

In [ ]:
# set index of the resulting aggregation by weekday names

In [ ]:
# plot weekday wise biker count for 'Berri1'

![](https://memegenerator.net/img/instances/500x/73988569/pythonpandas-is-easy-import-and-go.jpg)